*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


back/.gradle
back/build/
!back/gradle/wrapper/gradle-wrapper.jar
!back/**/src/main/**/build/
!back/**/src/test/**/build/

### STS ###
back/.apt_generated
back/.classpath
back/.factorypath
back/.project
back/.settings
back/.springBeans
back/.sts4-cache
back/bin/
!back/**/src/main/**/bin/
!back/**/src/test/**/bin/

### IntelliJ IDEA ###
back/.idea
back/*.iws
back/*.iml
back/*.ipr
back/out/
!back/**/src/main/**/out/
!back/**/src/test/**/out/


# misc
back/.DS_Store
back/.env.local
back/.env.development.local
back/.env.test.local
back/.env.production.local

